.card {
  cursor: pointer;
  align-items: center;
  position: relative;

  transition: var(--transition);

  &_remove, &_save {
    position: absolute;
    display: none;
    justify-content: center;
    gap: 54px;
    border-radius: 50%;
    transition: .2s;

    z-index: 12;

    cursor: pointer;
  }
  
  &_remove {
    width: 28px;
    height: 28px;
    
    left: -16px;
    background: var(--second);
  }
  
  &_save {
    width: 28px;
    height: 28px;
    
    right: -16px;
    padding: 4px;
    background: var(--third);
  }

  &:hover {
    border: var(--border);

    .card_remove, .card_save {
      display: flex;
      border: 1px solid transparent;
      
      transition: .5s;


      &:hover {
        transform: scale(1.1);
        border: var(--border);
      }
    }

    .card_label {
      transition: var(--transition);
      transform: scale(1);
      opacity: 100%;

      &:hover {
        transform: scale(1.01);
        border: var(--border);
      }
    }
  }

  &_label {
    display: flex;
    justify-content: center;
    align-items: center;

    // width: 100%;
    opacity: 0%;
    transform: scale(0.0);
    
    position: absolute;
    bottom: -29px;
    left: 42%;

    color: var(--text_color);
    font-size: 19px;
    user-select: none;
    pointer-events: none;

  }
  
  &--new {
    background-color: var(--first);
  }
  
  &--editing {
    backdrop-filter: blur(4px);
    background: var(--background_third);
    transform: scale(1.01);
  }
  
  &--error {
    background: var(--third);
    transform: scale(1.01);
  }
}

@media (max-width: 650px) {
  .card {
    &_label {
      font-size: medium;
    }
    &_actions {
      gap: 22px;
      width: 60%;
  
      &_save, &_close {
        width: 27px;
        height: 27px;
      }
    }
  }
}
