.card {
  cursor: pointer;
  align-items: center;
  position: relative;

  transition: var(--transition);

  &_close {
    display: none;
    justify-content: center;
    gap: 54px;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    transition: .2s;
    
    position: absolute;
    right: -16px;
    top: -16px;

    z-index: 12;
    background: var(--second);

    cursor: pointer;
  }

  &:hover {
    border: var(--border);

    .card_close {
      position: absolute;
      display: flex;
      border: 1px solid transparent;
      
      transition: .5s;
      
      &:hover {
        transform: scale(1.1);
        border: var(--border);
      }
    }

    .card_label {
      transition: var(--transition);
      transform: scale(1);
      opacity: 100%;

      &:hover {
        transform: scale(1.01);
        border: var(--border);
      }
    }
  }

  &_label {
    display: flex;
    justify-content: center;
    align-items: center;

    width: stretch;
    opacity: 0%;
    transform: scale(0.0);
    
    position: absolute;
    bottom: -29px;

    color: var(--text_color);
    font-size: 19px;
    user-select: none;
    pointer-events: none;

  }
  
  &--new {
    background-color: var(--first);
  }
  
  &--editing {
    backdrop-filter: blur(4px);
    background: var(--background_third);
    transform: scale(1.01);
  }
  
  &--error {
    background: var(--third);
    transform: scale(1.01);
  }
}

@media (max-width: 650px) {
  .card {
    &_label {
      font-size: medium;
    }
    &_actions {
      gap: 22px;
      width: 60%;
  
      &_save, &_close {
        width: 27px;
        height: 27px;
      }
    }
  }
}
