.label {
  display: grid;
  place-content: center;

  width: fit-content;
  height: 28px;

  background: var(--background_second);

  border-radius: 8px;

  min-width: 80px;
  padding: 4px 14px;
  margin: 8px;

  border: var(--border);

  &--good {
		background: var(--third);
	}
	&--alert {
		background: var(--fourth);
	}
	&--bad {
		background: var(--second);
	}
}
