.check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_label {
    line-height: 12px;
  }

  &_input {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    
    width: 22px;
    height: 22px;
    
    transition: .4s;
    
    background: whitesmoke;
    
    &:hover {
      border: var(--border);
      transform: scale(1.05);
    }
    
  }

}
