@import "assets/vars";

.status_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 7px;
  
  transition: .4s;
  
  &_label {
    border-radius: 4px;
    transition: .4s;
    font-size: small;

    color: var(--text_color);
  }
  
  &:hover .status_icon_label {
    padding: 4px 7px;
    background-color: #f7f7f780;
    font-size: 17px;
  }

  &_body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: fit-content;
    height: 100px;
    min-width: 100px;
    
    font-size: smaller;
    overflow: hidden;
    text-transform: uppercase;
    
    padding: 4px;
    
    border-radius: 18px 68px 68px 68px;

    box-shadow: inset 0px 0px 22px #1f1f1fdc;
    
    z-index: 7;

    transition: .4s;

    &--ok {
      background: var(--ok);
      color: whitesmoke;
    }
    &--warning {
      background: var(--warning);
      color: whitesmoke;
    }
    &--error {
      background: var(--error);
      color: whitesmoke;
    }

    &--interesado {
      background: var(--status_interested);
      box-shadow: -2px -2px 42px var(--status_interested_shadow);
    }
    &--iniciando {
      background: var(--status_starting);
      box-shadow: -2px -2px 42px var(--status_starting_shadow);
    }
    &--probado {
      background: var(--status_known);
      box-shadow: -2px -2px 42px var(--status_known_shadow);
    }
    &--perfeccionando {
      background: var(--status_halfway);
      box-shadow: -2px -2px 42px var(--status_halfway_shadow);
    }
    &--dominado {
      background: var(--status_dominated);
      box-shadow: -2px -2px 42px var(--status_dominated_shadow);
    }
    &--experto {
      background: var(--status_expert);
      box-shadow: -2px -2px 42px var(--status_expert_shadow);
    }

    &_img {
      display: flex;
      justify-content: center;
      align-items: center;

      user-select: none;

      text-align: center;
      font-size: xx-small;
      
      background: #212121b0;
      padding: 2px;
      color: whitesmoke;
      
      border-radius: 50%;
      width: 64px;
      height: 64px;
      margin: 10px;
      padding: 10px;

      z-index: 3;
      
      transition: .4s;

      opacity: 90%;
      cursor: pointer;

      &:hover {
        opacity: 100%;
        transform: scale(1.07);
      }
    }
  }
}
