.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 12px;
	flex-wrap: wrap;
	
	position: relative;
	width: stretch;
	padding: 24px;

	z-index: 7;

	background: var(--background_third);
	
	&_title {
		color: whitesmoke;
	}
}

