.home {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  
  background: var(--background_first);
  
  &_list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px 60px;
    flex-wrap: wrap;
    overflow: hidden;
    
    transition: 1s;
    width: stretch;
    padding: 24px;

    overflow: hidden auto;
    
  }

  &_adding {
    display: grid;
    place-content: center;

    position: absolute;
    background: #1a1919d4;
    width: 100vw;
    height: 100vh;
    z-index: 9;
  }

  &_actions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background: var(--background_third);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fit-content;
    z-index: 5;

    &_add {
      left: calc(50% - 25px);
      bottom: 24px;
    }
  }
}

@media (max-width: 650px) {
  .home {
    &_list {
      justify-content: space-evenly;
      align-items: flex-start;
      gap: 12px;
      padding-bottom: 120px;
    }

    &_title {
      font-size: small;
      padding: 12px;
    }
    
  }
}