.dash {
  width: 100vw;
  height: 100vh;
  
  max-height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;

  background: var(--background_first);

  &_theme {
    position: fixed;
    top: 18px;
    right: 18px;
  }
  
  &_list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    
    overflow: hidden;
    
    width: stretch;
    height: 100%;
    
    padding: 45px 45px 120px 45px;
    
    overflow: hidden auto;
    
    &_add {
      position: fixed;
      left: calc(50% - 25px);
      bottom: 64px;
    } 
  }
    
  &_title {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    
    width: 100%;
    padding: 20px 40px;
    color: var(--text_color);
  }
  
  &_complete {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    background: #3f67c3;

    overflow: hidden;

    width: stretch;
    height: 100%;

    padding: 45px 45px 120px 45px;

    overflow: hidden auto;

  }

  &_action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    font-size: smaller; 
  }
}