.need {
	display: flex;
	flex-direction: column;
	// flex: 2 2 400px;
	
	gap: 20px;
  background: var(--background_second);

	width: fit-content;
	height: fit-content;
  touch-action: none;
  
  padding: 44px;
  border-radius: var(--radius) var(--radius) var(--radius) 70px;
  transition: 4s;

	&_label {
		position: absolute;
		right: -44px;
		top: 10px;
	}

	&_check {
		position: absolute;
		right: 8px;
		bottom: 6px;
	}

	&_status {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		gap: 4px;
		
		width: 100%;
		font-size: small;

		&_line {
			height: 3px;
			width: 200px;
			border-radius: 50%;
			background: #d4d6d640;
		}
	}

	&_details {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		
		font-size: small;
		width: 100%;
	}
}

@media (max-width: 650px) {
	.need {
		gap: 4px;

		width: 47%;
		padding: 18px 12px 12px 12px;
		border-radius: var(--radius);

		&_label {
			right: auto;
			top: -24px;
		}
		
		&_check {
			position: relative;
			bottom: auto;
			right: auto;
		}
	
		&_name {
			max-width: 34vw;
			height: fit-content;
			max-height: 500px;

		}

		&_status {
			&_line {
				display: none;
			}
		}
	
		&_details {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
	
		}
	}
		
}