.need {
	display: flex;
	align-items: flex-start;
	
	gap: 20px;

  color: var(--text_color);
	
	padding: 40px 20px 20px 20px ;
	border-radius: 25px;

	&:hover {
		border: var(--border);

	}

	&_body {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		gap: 10px;

		// height: 74px;
		width: stretch;
	}
}