.need {
	touch-action: none;
  transition: 4s;
	border: var(--border);
	border-radius: var(--radius);
	width: stretch;
	height: 100%;

	background: var(--background_second);

	&_body {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 12px;
		padding: 12px;
		
		border-radius: var(--radius) var(--radius) 0 0;

		&_name {
			width: 100%;
		}

		&_reps {
			display: flex;
			justify-content: space-evenly;
		}
	}
	
	// &_status {
	// 	display: flex;
	// 	justify-content: space-between;
	// 	align-items: center;
	// 	padding: 4px 12px 4px 4px;
		
	// 	width: stretch;
	// 	height: px;

	// 	&--good {
	// 		background: var(--third);
	// 	}
	// 	&--alert {
	// 		background: var(--fourth);
	// 	}
	// 	&--bad {
	// 		background: var(--second);
	// 	}

	// 	border-radius: 0 0 var(--radius) var(--radius);
	// 	background: #00a2ff;
	// }

	&_actions {
		display: flex;
		justify-content: space-evenly;

		&_save, &_remove {
			width: stretch;
			height: 24px;
		}
	}
}
