.power {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;

  height: stretch;
  width: stretch;

  padding: 20px;
  border-radius: 12px;
  user-select: none;

  background: var(--background_third);
  cursor: pointer;
  user-select: none;
  
  &_name {
    display: flex;
    justify-content: flex-start;

    padding: 10px 40px;
    width: 100%;
    color: var(--text_color);
  }
  
  &_needs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    
    width: 100%;
    height: 100%;
    padding: 2em 5em 5em 5em;

  }

  &_add {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
  }

}
