:root {
  box-sizing: border-box;
  /* COLORS */
  
  --first: #1877F2; /* Azul de Meta (Facebook) */
  --second: #DB4437; /* Rojo de Google */
  --third: #34A853; /* Verde de Google */
  --fourth: #FFBF00; /* Amarillo de Google */
  --default: #3C4043; /* Gris oscuro de Google **/
  
  --text_color: #202124; /* Negro para el texto principal */
  --second_text_color: #5F6368; /* Gris para el texto secundario */
  
  --hover: #F5F5F5; /* Gris claro para el efecto hover **/
  
  --background_first: #FFFFFF; /* Blanco para el fondo principal */
  --background_second: #F1F3F4; /* Gris claro para el fondo secundario */
  --background_third: #EEEEEE; /* Otro tono de gris claro para el fondo terciario **/
  
  /* COMMONS */
  
  --shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); /* Sombra genérica */
  --shadow-up: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Sombra con desplazamiento hacia arriba */
  --inside-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra interna */
  --border: 1px solid var(--default); /* Borde con el color predeterminado */
  --radius: 4px; /* Radio de borde redondeado */
  --padding: 20px; /* Espaciado interno */
  --gap: 10px; /* Espaciado entre elementos */
  --transition: 0.3s; /* Duración de transición **/
  
  --status_interested: #B8B8B8; /* Gris para el estado "interested" */
  --status_interested_shadow: #D3D3D3; /* Sombra para el estado "interested" */
  --status_starting: #4285F4; /* Azul para el estado "starting" */
  --status_starting_shadow: #4285F4; /* Sombra para el estado "starting" */
  --status_known: #4285F4; /* Azul para el estado "known" */
  --status_known_shadow: #4285F4; /* Sombra para el estado "known" */
  --status_halfway: #F4B400; /* Amarillo para el estado "halfway" */
  --status_halfway_shadow: #F4B400; /* Sombra para el estado "halfway" */
  --status_dominated: #0F9D58; /* Verde para el estado "dominated" */
  --status_dominated_shadow: #0F9D58; /* Sombra para el estado "dominated" */
  --status_expert: #212121; /* Negro para el estado "expert" */
  --status_expert_shadow: #212121; /* Sombra para el estado "expert" **/
}
  
.light {

--text_color: #202124; /* Negro para el texto principal */
--second_text_color: #3C4043; /* Gris oscuro para el texto secundario **/

--hover: #E0E0E0; /* Gris claro para el efecto hover */
--border: 1px solid #E0E0E0; /* Borde con color de borde claro **/

--background_first: #bdbdbd; /* Blanco para el fondo principal */
--background_second: #898d8f; /* Gris claro para el fondo secundario */
--background_third: #525356; /* Otro tono de gris claro para el fondo terciario **/

}

.dark {

--text_color: #F8F9FA; /* Blanco para el texto principal */
--second_text_color: #ADB5BD; /* Gris claro para el texto secundario **/

--hover: #343A40; /* Gris oscuro para el efecto hover */
--border: 1px solid #343A40; /* Borde con color de borde oscuro **/

--background_first: #212529; /* Negro azabache para el fondo principal */
--background_second: #343A40; /* Gris oscuro para el fondo secundario */
--background_third: #1C1F22; /* Gris muy oscuro para el fondo terciario **/

}
